@import './reset.scss';
@import './variables/typography.scss';

:root {
  --orange-base: #F86600;
  --red-base: #BF2000;
  --blue-base: #186DD6;
  --orange-smooth: #F8660026;
  --red-smooth: #F5DED9;
  --white-base: #fff;
  --gray-30: #E3E5E5;
  --black: #000;
  --gray: #232526;
}

#app {
  min-height: 100vh;
  min-width: 400px;
  background: var(--black);
  color: var(--white-base)
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--red-smooth);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--orange-base);
  border-radius: 20px;
  border: 1px solid var(--red-base)
}
